@page "/"
@page "/home"
@using WoinRules

<PageTitle>Home</PageTitle>

<div class="bg-gray-500 p-4">
    <div class="w-[210mm] h-[297mm] m-auto bg-gray-100 p-4">
    <h1 class="text-xl">Home </h1>

        <CharacterView Character="@_character"/>
    </div>
</div>

@code {
    private readonly Character _character = new Character(EraOfPlay.Archaic);
}
