@using WoinRules;
@using Attribute = WoinRules.Attribute

<div class="border rounded px-1 w-12">
    <div class="p-1 text-sm text-center">@Attribute.Value</div>
    <div class="border-t border-b text-xs text-center font-bold">@Attribute.ShortName</div>
    <div class="p-1 text-sm text-center">@(Attribute.DicePoolSize)d6</div>
</div>

@code {
    [Parameter] public Attribute Attribute { get; set; } = null!;
}
